<link rel="stylesheet" href="/css/{{default "styleName"}}/home/navbar.css">
<nav class="nav justify-content-center sticky-top">
    <a class="nav-link " href="#">
        <i class="far fa-home    "></i>
        Home
    </a>
    <a class="nav-link" href="#">
        <i class="fa fa-link" aria-hidden="true"></i>
        Link
    </a>
    <a class="nav-link" href="#">
        <i class="fa fa-link" aria-hidden="true"></i>
        Link
    </a>
    <a class="nav-link" href="#">
        <i class="fa fa-link" aria-hidden="true"></i>
        Link
    </a>
    <a class="nav-link" href="#">
        <i class="fa fa-link" aria-hidden="true"></i>
        Link
    </a>
    <a class="nav-link" href="#">
        <i class="fa fa-link" aria-hidden="true"></i>
        Link
    </a>
</nav>