<link rel="stylesheet" href="/css/{{default 'styleName'}}/home/index.css">
{{>home/navbar}}
<header>
    <div class="jumbotron jumbotron-fluid ">
        <div class="container">
            <div id="logo">

            </div>
            <h1 class="display-3">RIH Land</h1>
            <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit nisi earum cumque dolorem
                distinctio, veritatis, optio nihil eveniet blanditiis magni dolores. Recusandae culpa error voluptatum
                explicabo nobis nostrum eos doloribus?</p>
        </div>
    </div>
</header>
<section id="realBody">
    <div class="container" id="topics">
        <div class="row">
            <div class="topicBox col-sm-3">
                <div class="topicContainer">s</div>
            </div>
            <div class="topicBox col-sm-3">
                <div class="topicContainer">s</div>
            </div>
            <div class="topicBox col-sm-3">
                <div class="topicContainer">s</div>
            </div>
            <div class="topicBox col-sm-3">
                <div class="topicContainer">s</div>
            </div>
        </div>
    </div>
</section>
<footer>
    s
</footer>
<script src="/js/home/index.js"></script>