@import "../variables";

nav {
  a {
    color: $color5;
    transition: all 0.5s;
    &:hover {
      background-color: $color1;
      color: $color5;
    }
    &.disabled {
      background-color: red;
      color: $color1;
    }
  }
  background-color: $color2;
  color: $color5;
}
