nav {
  background-color: #8c704d;
  color: #403135;
}

nav a {
  color: #403135;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav a:hover {
  background-color: #735645;
  color: #403135;
}

nav a.disabled {
  background-color: red;
  color: #735645;
}
